include ../includes/header
#wrapper.error
    include ../includes/banner

    h1.error_message The requested class does not exist.

    a(href='/classes').error_link You can click here to see all the classes

include ../includes/footer