include ../includes/header
#wrapper.error
    include ../includes/banner

    h1.error_message The requested class does not exist.

            //a(href='/classes') You can go here to see all the classes

include ../includes/footer