include ../includes/header
#wrapper.error
    include ../includes/banner
    h1.error_message.
        500
    .errorBaseline.
        It's not you, it's us. But I can assure you it's working on my machine
    div.leftie
        a(href="javascript:history.back()")
            i.fa.fa-arrow-circle-left
            | You can go back to the previous page...
    div.rightie
        a(href="/")
            | ... or you can go back to our homepage.
            i.fa.fa-arrow-circle-right
include ../includes/footer