/** GLOBAL VARIABLES **/
@import "define";

/** LIBS **/
@import "libs/bourbon/bourbon";
@import "libs/neat/neat";
@import "libs/font-awesome/font-awesome";

body {
  padding : 0;
  margin  : 0;
  width   : 100%;
  height  : 100%;
  font-family : $font-stack;
}

a{
  text-decoration : none;
  color : black;
}

/** SCSS FILES **/
@import "common/banner";
@import "index/index";
@import "whats-new/whats-new";
@import "error/error";