nav.nav-main
    i#mobilemenu.fa.fa-bars

    .banner
        .menu
            .do-not-hover#home
                span.
                    Babylon.js | DOCUMENTATION
            #whatsnew.item(class={active: currentUrl === '/whats-new'})
                span.
                    What's new
            #tutorials.item(class={active: currentUrl === '/tutorials'})
                span.
                    Tutorials
            #exporters.item(class={active:currentUrl === '/exporters'})
                span.
                    Exporters
            #extensions.item(class={active:currentUrl === '/extensions'})
                span.
                    Extensions
            #classes.item(class={active:currentUrl === '/classes'})
                span.
                    Classes
        .more
            .searchbar
                input(type='text', placeholder='Search...')
                i.fa.fa-search
            .forward
                div.
                    babylonjs.com
                i.fa.fa-play

    //-----------------
    //-- Action on banner
    //-----------------
    script.
        $("#home").click(function() {
            window.location = "/";
        });
        $("#whatsnew").click(function () {
            window.location = "/whats-new";
        });
        $("#tutorials").click(function () {
            window.location = "/tutorials";
        });
        $("#exporters").click(function () {
            window.location = "/exporters";
        });
        $("#extensions").click(function () {
            window.location = "/extensions";
        });
        $("#classes").click(function () {
            window.location = "/classes/2.1";
        });


    // ----------------------
    // LEFT MENU FOR MOBILE
    // ----------------------
    script.
        var slideout = new Slideout({
            'panel': document.getElementById('wrapper'),
            'menu': document.getElementById('menu'),
            'padding': 256,
            'tolerance': 70
        });
        $("#mobilemenu").click(function() {
            slideout.toggle();

            if(!slideout.isOpen()){
                $('#menu').css("display", "none");
            } else {
                $('#menu').css("display", "block");
            }
        });
