nav.nav-main
    i#mobilemenu.fa.fa-bars

    .banner
        .menu
            .do-not-hover
                span.
                    Babylon.js - DOCUMENTATION
            .item(class={active: currentUrl === '/whats-new'})
                span.
                    What's new
            .item(class={active: currentUrl === '/tutorials'})
                span.
                    Tutorials
            .item(class={active:currentUrl === '/exporters'})
                span.
                    Exporters
            .item(class={active:currentUrl === '/extensions'})
                span.
                    Extensions
            .item(class={active:currentUrl === '/classes'})
                span.
                    Classes
        .more
            .searchbar
                input(type='text', placeholder='Search...')
                i.fa.fa-search
            .forward
                div.
                    babylonjs.com
                i.fa.fa-play
    // ----------------------
    // LEFT MENU FOR MOBILE
    // ----------------------
    script.
        var slideout = new Slideout({
            'panel': document.getElementById('wrapper'),
            'menu': document.getElementById('menu'),
            'padding': 256,
            'tolerance': 70
        });
        $("#mobilemenu").click(function() {
            slideout.toggle();
            console.log("click");
        });
