//-------------------------->
//--FOOTER-->
//-------------------------->
footer.footer
        .footer-item
            a.bjs-forum(href='http://www.html5gamedevs.com/forum/16-babylonjs',target="_blank")
                i.fa.fa-html5
                |     Forum
        .footer-item
            a.bjs-github(href='https://github.com/BabylonJS/Babylon.js',target="_blank")
                i.fa.fa-github
                |     Github
script(src='https://code.jquery.com/jquery-2.1.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.9/slideout.min.js')
script(src='/js/index.js')