doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title BabylonJS Documentation

        link(rel="shortcut icon", href="/img/favicon.ico")

        link(rel='stylesheet', href='/css/libs/normalize.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/js/libs/slideoutjs/slideout.css')
        link(rel='stylesheet', href='/css/libs/highlight/default.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/css/perfect-scrollbar.min.css')
    body
        include mobile-menu.jade
