nav#menu
    .searchbar-mobile
        input(type='text', placeholder='Search...')
        i.fa.fa-search
    a(href='/', class={active: currentUrl === '/'})
        i.fa.fa-home
        | Home
    a(href='/whats-new', class={active: currentUrl === '/whats-new'})
        i.fa.fa-file-text-o
        | What's new
    a(href='/tutorials', class={active: currentUrl === '/tutorials'})
        i.fa.fa-cogs
        | Tutorials
    a(href='/exporters', class={active: currentUrl === '/exporters'})
        i.fa.fa-rocket
        | Exporters
    a(href='/extensions', class={active: currentUrl === '/extensions'})
        i.fa.fa-wrench
        | Extensions
    a(href='/classes', class={active: currentUrl === '/classes'})
        i.fa.fa-files-o
        | Classes
    .links
        a(href='http://www.babylonjs.com', target='_blank')
            i.fa.fa-play
            | babylonjs.com
        a(href='https://github.com/BabylonJS/Babylon.js', target='_blank')
            i.fa.fa-github
            | Github
        a(href='http://www.html5gamedevs.com/forum/16-babylonjs', target='_blank')
            i.fa.fa-html5
            | Forum