#wrapper.error{
  background-image  : url("/img/pattern_ban_1.png");
  background-repeat : repeat;

  text-align  : center;

  .error_message{
    color: $red;
  }

  .error_link {
    text-decoration: underline;
  }
}