#wrapper.error{

  background-color: white;
  text-align  : center;
  height:100%;

  // 404
  .error_message{
    color: $red;
    font-size: 220pt;
    margin: 0;
    font-family: $font-title;
  }

  // Class not found message
  .errorBaseline {
    margin-bottom: 50px;
    font-size: 22pt;
    font-family: $font-title;
  }

  .error_link {
    text-decoration: underline;
  }

  .leftie, .rightie {
    @include span-columns(6);
    cursor: pointer;
//    margin:0 auto;

    a {
      padding : 15px;
      color : black;
      &:hover {
        background-color: $red;
        color:white;
      }
      i {
        margin : 0 15px 0 15px;
      }
    }

    &.error_choice_mobile{
      display: none;
    }
  }

  // Go back to previous page
  .leftie {
    text-align: right;
  }

  // Browse all classes
  .rightie {
    text-align: left;
  }
}