.statics-banner {
  background-image: url("/img/pattern_ban_1.png");
  background-repeat: repeat;
  text-align: center;
  padding: 10px 0;

  h1:first-letter {
    text-transform: uppercase;
  }
}

.static-content {
  @include outer-container(80%);

  .tagList {
    position: relative;
    height: 100%;
    //width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    .tagWrapper {
      display: inline-block;
      width: 25%;
      min-width: 210px;
      max-width: 280px;
      padding: 20px 2% 20px;

      .tag {
        border: 2px solid $grey;
        height: 100%;
        padding: 5px;

        .tagImage {
          display: block;
          margin: 0 auto;
          max-height: 65%;
          //height: 60%;
          img {
            width: 100%;
          }
        }
        .tagDescriptionWrapper {
          background-color: $grey;
          padding: 4px;
          height: 80px;
          word-break: normal;
          overflow: hidden;
          .tagTitle {
            font: $font-title;
          }

          .tagDescription {
            font: $font-regular;
            font-size: 0.75em;

          }
        }

      }
    }
  }

  .fileList {
    // The tag text
    .fileTitle {

      padding: 3px;
      width: 100%;
      cursor: pointer;
      a {
        color: $black;
        text-decoration: none;
        display: block;
        padding: 3px;

        &:hover {
          color: white;
          text-decoration: underline;
          background-color: $red;
        }
      }
      h3:hover {
        background-color: $red;
        color: $grey;
        text-decoration: underline;
      }
    }

  }

}

