include includes/header.jade



#wrapper
    include includes/banner.jade

    .whats-new-banner
        h1 What's New?

    .horizontal-separator

    #whats-new!= content

include includes/footer.jade