$mobile: new-breakpoint(max-width 1150px 6);
$phone: new-breakpoint(max-width 680px 6);



/* MOBILE VERSION */
@include media($mobile) {
  .nav-main {

    ul {
     background-color: $darkgrey;
    }
    /* Remove everything but the home text*/
    li:not(.home) {
     display : none;
    }
    .home {
     padding-left: 50px;
    }

    #mobilemenu {
     display: block !important;
    }
  }
  .bjs-components .bjs-component{
    @include span-columns(6);
    padding: 0;
  }
  .bjs-demo{
    img {
      width:100%;
    }
  }
}

/* SMALL SCREENS VERSION */
@include media($phone) {
  .bjs-components{
    @include outer-container(100%);
    padding : 0;
  }
}

// ----------------------
// LEFT MENU FOR MOBILE
// ----------------------
.slideout-menu{
  z-index:0;
  display:none;
  background-color: $grey;

  h2{
    background-color: $grey;
    margin:0;
    padding:6px 0;

    &.active{
      background-color : $red;

      a{
        color : white;
      }
    }

    &:hover{
      @include transition(all .2s ease-in);
      background-color: $red;

      a{
        color: white;
      }
    }

    a{
      padding: 0 10px;
      color : black;
    }
  }
}