@import "var_index";

.slideout-menu{
  display:none;
  background-color: $grey;

  h2{
    background-color: $grey;
    margin:0;
    padding:6px 0;

    a{
      padding: 0 10px;
      color : black;
    }

    &.active{
      background-color : $red;
      a{
        color : white;
      }
    }
  }
}

.nav-main{
  width       : 100%;
  font-size   : 12px;
  height      : 40px;

  background-color : $grey;

  /* Remove mobile menu by default*/
  #mobilemenu {
    display: none;
    position : absolute;
    z-index: 2;
    color : white;
    font-size:20pt;
    top : 5px;
    left : 5px;
  }

  ul {

    list-style: none;
    padding:0;
    font-size: 0;

    li {
      display       : inline;
      line-height   : 40px;
      padding       : 13px;
      text-transform: uppercase;
      font-weight   : 400;
      font-size     : 10pt;
      margin:0 ;

      &:hover:not(.do-not-hover) {
        @include transition(all .2s ease-in);
        background-color: $red;
        color: white;
      }

      &.active{
        background-color: $red;
      }

      &:first-child {
        background-color  : $darkgrey;
        font-weight   : 600;
        & a {
          color             : white;
          text-transform    : none;
        }
      }
      &.align-right {
        float:right;
        padding:0;
        margin-right : 20px;
      }
      .search-input {
        width : 200px;
        appearance: none;
        background-color: none;
        padding: 10px 15px;
        border-radius: 30px;
        border:none;
        height:20px;
        /* Remove border when the inpu is focused*/
        &:focus {
          outline: none
        }
      }
    }
  }
}

.presentation-header{
  @include outer-container(100%);

  .presentation-img{
    width:100%;
    height:300px;

    // just a filler, waiting for a real image to display
    @include background-image(
            linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 50%),
            linear-gradient(#4e7ba3, darken(#4e7ba4, 10%))
    );
  }

  .bjs-moto{
    text-align : center;
    font-size  : 16px;
  }
}

.bjs-components{
  @include outer-container(80%);

  .bjs-component{
    @include span-columns(4);
    padding : 0px 50px;

    h1{
      color       : $red;
      font-size   : 20pt;
      font-weight : bold;
      text-align  : center;
    }
    p{
      text-align : center;
    }
  }
}

.bjs-demo{
  width:100%;
  h1{
    color       : $red;
    font-size   : 20pt;
    font-weight : bold;
    text-align  : center;
  }

  img{
    width:100%;
    max-width: 350px;
    position:relative;
    left:50%;
    @include transform(translateX(-50%));
  }
}

.horizontal-separator{
  width       : 80%;
  height      : 0;
  border-top  : 3px dashed $red;font-size:0;
  margin      : 20px auto;

}

.getting-started{
  @include outer-container(80%);

  h1{
    text-align  : center;
    color       : $red;
  }
}

.footer{
  position  : relative;
  bottom    : 0;
  width     : 100%;
  height    : 40px;
  padding   : 0;
  margin    : 20px 0 0 0;

  background-color  : $grey;

  font-weight : bold;
  font-size   : 14px;

  .footer-item{
    @include span-columns(6 of 12);
    @include omega();

    a{
      color : white;
      padding : 12px;
    }
    a:visited{ color : white; }
  }

  .bjs-forum:hover, .bjs-github:hover{
    @include transition(all .2s ease-in);
    background-color : $red;
    color:white;
  }

  .bjs-forum{ float : right; }
  .bjs-github{ float : left; }
}

@import "mobile_index";