include ../includes/header
#wrapper
    include ../includes/banner

    .whats-new-banner
        h1= 'Classes v.' + version

    .horizontal-separator

    #classes!= 'Bonjour, je suis la liste des classes'

include ../includes/footer