include ../includes/header
#wrapper
    include ../includes/banner

    .whats-new-banner
        h1= 'Classes'

    .horizontal-separator

    //List the versions
    #versionsList
        each version in versions
            // If it's the current version, apply a different style
            if currentVersion == version
                a(href='./'+version)#version.selectedVersion= 'v'+version
            else
                a(href='./'+version)#version= 'v'+version

    .classesListOrder
        span#orderByTags.order.selectedOrder Tags
        span#orderByAlpha.order A - Z

    //List the classes categories
    #classesListByTag.toggledOn
        each bclasses, categorie in classListByTag
            div.category
                div.categoryTitle
                    h3= categorie
                div.categoryList
                    //List the classes of a category
                    each bclass in bclasses
                        li
                            a(href='./'+currentVersion+'/'+bclass)= bclass

    #classesListByAlpha.toggledOff
        each className in classListByAlpha
            div.class
                a(href='./'+currentVersion+'/'+className)= className



include ../includes/footer

script(src="/js/classes.js")