include ../includes/header
#wrapper
    include ../includes/banner

    .whats-new-banner
        h1= 'Classes v.' + version

    .horizontal-separator

    #classes!= versions
    each row, key in list
        h3= key
        each value in row
            li= value

include ../includes/footer