.footer {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  z-index:2;

  background-color: $grey;
  font-size: 0.8em;

  .footer-item {
    @include span-columns(6 of 12);
    height: 40px !important;

    a {
      color: $black;
      padding: 12px;
      height: 40px !important;

      &:visited {
        color: $black;
      }
      &:hover {
        color: white;
      }
    }
  }

  .bjs-forum:hover, .bjs-github:hover {
    @include transition(all .2s ease-in);
    background-color: $red;
  }

  .bjs-forum {
    float: right;
  }
  .bjs-github {
    float: left;
  }
}