.footer{

  position:fixed;
  bottom    : 0;
  width     : 100%;
  height    : 40px;
  padding   : 0;
  margin    : 20px 0 0 0;

  background-color  : $grey;
  font-size   : 14px;

  .footer-item{
    @include span-columns(6 of 12);
    height:40px !important;

    a {
      color: #333;
      padding: 12px;
      height: 40px !important;

      &:visited {
        color: #333;
      }
      &:hover {
        color: white;
      }
    }
  }

  .bjs-forum:hover, .bjs-github:hover{
    @include transition(all .2s ease-in);
    background-color : $red;
  }

  .bjs-forum{
    float : right;
  }
  .bjs-github{
    float : left;
  }
}