include ../includes/header
include ../includes/banner
#wrapper
    .statics-banner
        h1=category

    .horizontal-separator

    .static-content
        h1!=staticName
        br
        #staticContent!=staticContent
include ../includes/footer
