// The left menu (sort by tag and alphabetically)
#classesListSide {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  margin: 0px;
  padding: 10px;

  // BABYLON.JS CLASSES
  #classesTitle {
    text-align: center;
    border-bottom: solid 1px $red;
    padding-bottom: 2px;
    margin-bottom: 4px;
  }
  // Tags or A-Z
  .order {
    display: inline-block;
    background-color: #9B9B9B;
    text-align: center;
    margin: 4px 4px 15px 4px;
    padding: 4px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  // The sort selected
  .selectedOrder {
    background-color: $red;
  }

  .categoryTitle {
    cursor: pointer;
  }

  // Contains all classes for a SELECTED tag
  .categoryList {
    margin-left: 2px;

    li {
      font-size: 20px;
      list-style-type: square;
      color: #DCDCDC;
      cursor: pointer;

      a {
        font-size: 0.75em;
        color: #000000;
      }
      a:hover {
        text-decoration: underline;
        color: $red;
      }
    }
  }
  // Contains all classes for all tag not selected
  .categoryListTags {
    display: none;
  }
}

// The documentation of the selected class
#classContent {
  display: inline-block;
  vertical-align: top;
  width: 80%;

  padding-left: 20px;

  #classMd {

    // Remove useless lines in the markdown
    hr {
      visibility: hidden;
    }

    // Titles (condtructor, members, method
    h2 {
      margin-top: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid #DCDCDC;
    }

    // Members and methods names
    h3 {
      font-weight: 600;
    }

    //"Parameters"
    h4 {
      margin-left: 15px;
      font-weight: 600;
    }

    // Parameters table
    table {
      text-align: left;
      margin-left: 20px;

      thead {

        tr {
          background-color: #F1F1F1;

          th {
            padding: 6px 11px;
            border: 2px solid #DCDCDC;
          }
        }
      }

      tbody {

        tr {

          td {
            padding: 6px 11px;
            border: 2px solid #DCDCDC;
          }
        }
        tr:nth-child(2n) {
          background-color: #F8F8F8;
        }
      }
    }

    // Members/method description
    p {
      margin-left: 15px;
    }
  }
}